

body {
    background-color: #000000;
    font-family: 'Cormorant SC', serif;
}

.screen {
    position: relative;
    height: 100vh;
    width: 100%;
    text-align: center;
}

h1 {
    color: cornsilk;
    font-size: 100px;
}

h2 {
    color: cornsilk;
}

.pet {
    background-color: #080808;
}

.info {
    display: inline-block;
    margin: auto;
    padding-left: 100px;
}

.bottomBar {
    padding-bottom: 10px;
}

.start {
    display: inline-block;
    background-color: #380000;
    border-radius: 40px;
    color: cornsilk;
    text-align: center;
    font-size: 28px;
    padding: 2px;
    width: 200px;
    cursor: pointer;
    margin: 5px;
}

button {
    font-family: 'Cormorant SC', serif;
}

button:hover {
    background-color: #990000;
  }

.feed {
    display: inline-block;
    background-color: #380000;
    border-radius: 40px;
    color: cornsilk;
    text-align: center;
    font-size: 14px;
    padding: 2px;
    width: 90px;
    cursor: pointer;
    margin: 5px;
}

.lights {
    display: inline-block;
    background-color: #380000;
    border-radius: 40px;
    color: cornsilk;
    text-align: center;
    font-size: 14px;
    padding: 2px;
    width: 90px;
    cursor: pointer;
    margin: 5px;
}

.play {
    display: inline-block;
    background-color: #380000;
    border-radius: 40px;
    color: cornsilk;
    text-align: center;
    font-size: 14px;
    padding: 2px;
    width: 90px;
    cursor: pointer;
    margin: 5px;
}

#name {
    margin: 20px 20px;
}

#young {
    display: inline-block;
    margin: auto;
    background:url(../Images/tv1.png);
    width: calc(5000px / 10);
    height: 500px;
    animation: idle 1.0s steps(10) infinite;
}

#older {
    display: inline-block;
    margin: auto;
    background:url(../Images/tv2.png);
    width: calc(5000px / 10);
    height: 500px;
    animation: idle 1.0s steps(10) infinite;
}

#old {
    display: inline-block;
    margin: auto;
    background:url(../Images/tv3.png);
    width: calc(5000px / 10);
    height: 500px;
    animation: idle 1.0s steps(10) infinite;
}

#ancient {
    display: inline-block;
    margin: auto;
    background:url(../Images/tv4.png);
    width: calc(5000px / 10);
    height: 500px;
    animation: idle 1.0s steps(10) infinite;
}

#elder {
    display: inline-block;
    margin: auto;
    background:url(../Images/tv5.png);
    width: calc(5000px / 10);
    height: 500px;
    animation: idle 1.0s steps(10) infinite;
}

#asended {
    display: inline-block;
    margin: auto;
    background:url(../Images/tv4.png);
    width: calc(5000px / 10);
    height: 500px;
    animation: idle 1.0s steps(10) infinite;
}

#dead {
    display: inline-block;
    margin: auto;
    background:url(../Images/tv5.png);
    width: calc(5000px / 10);
    height: 500px;
    animation: idle 1.0s steps(10) infinite;
}

@keyframes idle {
    from { background-position: 0px; }
    to { background-position: -5000px;}
}